
<p style="color: green"><%= notice %></p>

<h1>Your Events</h1>

<div id="events">
<% @events.each do |event| %>
  <p>
  <%= event.title %> <%= link_to "Show", event %>
  </p>
<% end %>
<%= link_to "New Event", new_event_path %>
</div>

 
</div>

<hr>

<h1>Other Users' Events</h1>

<div id="other_users_events">
  <% @other_users_events.each do |event| %>
    <p>
      Event Title: <%= event.title %><br>
      Event Creator Email: <%= @event_creators_emails[@other_users_events.index(event)] %>
      <%= link_to "Show this event", event %>
      <!-- Edit and Destroy options are hidden for other users' events -->
      <% if current_user != event.user %>
        <!-- Hide Edit option -->
        <%= link_to "Edit", edit_event_path(event), style: "display: none" %>
        <!-- Hide Destroy option -->
        <%= button_to "Destroy", event, method: :delete, style: "display: none" %>
      <% end %>
    </p>
  <% end %>
</div>
<h2>Notifications</h2>
<ul>
  <% @notifications.each do |notification| %>
    <li><%= notification.params[:message] %></li> <!-- Assuming 'message' is the attribute containing notification message -->
  <% end %>
</ul>